---
import Layout from '@/layouts/DefaultLayout.astro';
import Donate from '@/components/Donate.vue'
import { resolvePath } from '@/utils/helpers.js'
import { getDynamicRoutes, LTags } from '@/i18n/utils'
import I18n from '@/i18n/i18n.astro'

export async function getStaticPaths() {
  return getDynamicRoutes()
}
---

<Layout>
  <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
  <div class="c-wrapper">
    <section class="container grey-container">
      <I18n tag="div" class="is-posttitle">SUPPORT OUR DEVELOPMENT</I18n>
      <I18n tag="h1" class="is-title-1 c-main-title">Sponsor Group Income.</I18n>
      <I18n tag="p" class="is-subtitle c-main-para">Group Income is a project developed by the okTurtles Foundation,
        a non-profit organization that supports beneficial decentralization technologies.
        If you want to help us succeed, consider becoming a sponsor.</I18n>
    </section>
    <div class="c-container-middle">
      <div class="c-container-center">
        <I18n tag="h2" class="is-title-2 c-main-title">Become a Sponsor</I18n>
        <I18n tag="p" class="is-subtitle c-main-para">If you want to support our project and get rewards like early access to our development or your name listed on this page, you can back us! Here's how:</I18n>
      </div>

      <section class="container c-grid c-mb-6">
        <div class="c-direct">
          <I18n tag="h2" class="c-sub-title">Direct Cryptocurrency Donation</I18n>
          <Donate client:load/>
          <I18n tag="div" class="c-or">or</I18n>
        </div>
        <div class="c-credit">
          <div class="c-credit-block">
            <I18n tag="h2" class="c-sub-title">Credit/Debit Card Donation</I18n>
            <a class="button is-success c-link-btn" href="https://donorbox.org/okturtles-donation" target="_blank">
              <I18n>Donate with Donorbox</I18n>
            </a>  
          </div>

          <div class="c-credit-block">
            <I18n tag="h2" class="c-sub-title">Others</I18n>
            <a class="button is-primary c-link-btn" href={resolvePath("/other-ways-to-support")}>
              <I18n>Other ways to Donate</I18n>
            </a>
          </div>
        </div>
      </section>

      <section class="container c-grid c-mb-6">
        <div>
          <I18n tag="b">Crypto Donation Receipt</I18n>
          <I18n tag="div" class="c-main-para" args={{ ...LTags('a'), 'a_': '<a class="is-link" href="mailto:hi@okturtles.org" target="_blank">'}}>
            After you make a crypto donation, email us at |a_|hi@okturtles.org|_a| so we can thank you and send you a receipt for your records and tax purposes — and let us know us know if you'd like us to publicly thank you for your donation!
          </I18n>
        </div>
        <div>
          <b>okTurtles Foundation</b>
          <I18n tag="div" class="c-main-para">The okTurtles Foundation is a 501(c)(3) non-profit corporation, and our U.S. federal tax ID number is 47-1188610.</I18n>
        </div>
      </section>
    </div>
    <section class="container dark-container">
      <I18n tag="h2" class="is-title-2 c-container-title">Sponsors</I18n>
      <I18n tag="p" class="c-container-para">Thank you to the following individuals and organizations</I18n>

      <div class="c-sponsors-logo-container">
        <div class="logo-placeholder">
          <i class="icon-image-multiple"></i><I18n>Your logo here</I18n>
        </div>
      </div>
    </section>

    <section style={{ display: 'none' }} class="container c-second-container">
      <I18n tag="h2" class="is-title-2 c-container-title">Individual Sponsors</I18n>
      <I18n tag="p" class="c-container-para">Thank you to the following individuals and organizations, who have pledged up to $x/month</I18n>
      <div class="c-individual-sponsor-container">
        <ul>
          {
            new Array(20).fill('Cody Fisher').map((name) => <li><a href="">{name}</a></li>)
          }
        </ul>
      </div>
    </section>
  </div>
</Layout>

<style lang="scss" is:global>
@use "../../styles/variables" as *;

.c-wrapper {
  padding-bottom: 2rem;
}

.container {
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 4rem 1rem;
  }

  @include desktop {
    padding: 6rem 1rem;
  }
}

.c-container-middle {
  width: 70rem;
  max-width: 100%;
  margin: 0 auto;
}

.c-container-center {
  text-align: center;
  margin: 6rem auto 0 auto;
  padding: 0 1rem;
}

.c-main-title {
  max-width: 47rem;
  margin: 1.5rem auto;

  @include phone {
    max-width: 30rem;
  }
}

.c-main-para {
  max-width: 46rem;
  margin-bottom: 1rem;

  @include desktop {
    margin: 0 auto 1rem auto;
  }
}

.is-subtitle {
  &.c-main-para {
    margin: 0 auto 1rem auto;
  }
}

b:has(+ .c-main-para) {
  display: block;
  margin-bottom: 0.4rem;
}

.grey-container {
  text-align: center;
}

.c-sub-title {
  margin-bottom: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.c-grid {
  display: grid;
  padding-bottom: 0;
  grid-template-rows: 1fr;

  @include desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0 7.5rem;
  }
}

.c-direct {
  position: relative;
  // overflow: hidden;
  margin-bottom: 6rem;

  @include desktop {
    margin-bottom: 0;
  }
}

.c-credit {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  @include from ($tablet) {
    flex-direction: row;
    column-gap: 3rem;
    justify-content: flex-start;
  }

  @include from ($desktop) {
    display: flex;
    flex-direction: column;
  }

  &-block {
    display: flex;
    flex-direction: column;

    @include from ($tablet) {
      flex-grow: 1;
      align-items: stretch;
    }

    @include from ($desktop) {
      flex-grow: unset;
      align-items: flex-start;
    }
  }
}

.c-or {
  position: absolute;
  display: flex;
  height: 24px;
  width: 100%;
  max-height: 435px;
  align-items: center;
  flex-direction: column;
  top: calc(100% + 2rem);
  color: rgba(#3E4462, .5);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;

  @include desktop {
    flex-direction: row;
    right: -4rem;
    top: 0;
    height: 100%;
    width: auto;
  }

  &::after,
  &::before {
    position: absolute;
    content: '';
    z-index: -1;
  }

  &::before {
    z-index: -2;
    background: linear-gradient(90deg, #FFFFFF 0%, #D0DEEA 51.56%, #FFFFFF 100%);
    height: 1px;
    width: 100%;
    top: .6rem;
    left: 0;

    @include desktop {
      background: linear-gradient(180deg, #FFFFFF 0%, #D0DEEA 51.56%, #FFFFFF 100%);
      height: 100%;
      width: 1px;
      top: 0;
      left: calc(50% - .5px);
    }
  }

  &::after {
    background: #F6F8FB;
    border-radius: 50%;
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
  }
}

.dark-container {
  background: url(/images/about/blue-background.svg) no-repeat center #fff;
  background-size: 100%;
  color: #fff;
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include phone {
    background-size: 200% 100%;
    padding-top: 8rem;
    padding-bottom: 4rem;
    margin-top: -4rem;
  }
}

.c-container-title {
  text-align: center;
  max-width: 45.5rem;
  margin-bottom: 1rem;
}

.c-sponsors-logo-container {
  margin-top: 4rem;
  padding-bottom: 0.75rem;

  .logo-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75rem;
    color: $general_2;
    opacity: 0.5;
    font-size: 1rem;
    user-select: none;

    i {
      font-size: 2.75rem;
      line-height: 1.15;
    }
  }
}

.c-silver-sponsor {
  width: 22rem;
  display: flex;
  background-color: #C0C5DA;
  border-radius: .5rem;
  padding: .5rem;
  font-size: 1rem;
  color: #000;

  &:hover {
    background-color: #fff;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.c-second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  background-position: center 54px;
}

.c-individual-sponsor-container {
  background-color: #FBFCFD;
  color: #000000;
  margin: 4rem auto 0 auto;
  border-radius: .5rem;
  padding: .3rem 1.5rem 0 1.5rem;
  border: 1px solid #9DB5CA;

  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 70rem;
  }

  li {
    display: block;
    border-bottom: 1px solid #E8F0F6;
    min-width: 15.5rem;
    padding: 1rem 0;
    flex-grow: 1;
  }
}

.c-mb-6 {
  margin-bottom: 6rem;
}
</style>
