@use "../variables" as *;

.banner-simple {
  position: relative;
  background-color: $primary_2;
  color: $primary_0;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  border-radius: $radius-large;
}
