---
import Layout from '@/layouts/DefaultLayout.astro';
import BlogPostEntry from '@/components/BlogPostEntry.vue'
import { resolvePath } from '@/utils/helpers.js'
export async function getStaticPaths({ paginate }: any) {
	const posts = (await Astro.glob('../../posts/*.{md,mdx}')).sort(
		(a, b) => new Date(b.frontmatter.isoDate).valueOf() - new Date(a.frontmatter.isoDate).valueOf()
	);
  // Generate pages from our array of blog post, with 2 to a page
  return paginate(posts, { pageSize: 4 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
const { data, lastPage, url } = page
const indexActive = (index: number, currentUrl: string) => {
	return index === 0 ? currentUrl === '/blog' : currentUrl.endsWith(`${index + 1}`)
}
---

<Layout>
	<section class="c-header">
		<h1>Blog</h1>
	</section>

	<section class="blog-wrapper" v-if="posts">
		{
			data.map((article: any) => <BlogPostEntry client:only="vue" postFrontmatter={article.frontmatter} />)
		}
		<div class="pagination">
			<a class={ url.prev ? '' : 'inactive' } href={url.prev ? resolvePath(url.prev) : null}>
				<i class="icon-chevron-left"></i>
			</a>
			{[...Array(lastPage)].map((x, i) =>
				<a class={indexActive(i, url.current) ? 'active' : ''} href={resolvePath(`/blog${i > 0 ? '/' + (i + 1) : ''}`)}>{i+1}</a>
			)}
			<a href={url.next ? resolvePath(url.next) : null} class={ url.next ? '' : 'inactive' }>
				<i class="icon-chevron-right"></i>
			</a>
		</div>
	</section>
</Layout>

<style lang="scss" is:global>
@import "../../styles/_variables";
@import "../../styles/_mixins";
.c-blog-wrapper {
	.icon-link {
		display: none;
	}

	.icon-link::before {
		font-family: "Font Awesome 5 Free";
	}

	ul, ol {
		margin: 1rem 0 1.5rem 1rem;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h1, h2{
		margin-top: 4rem;
	}

	h1, h2, h3, h4, h5, h6, p, li {
		margin-bottom: 1rem;
	}

	a {
		color: $primary_0;

		background: linear-gradient(to right, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0)),
								linear-gradient(to right, $primary_0, $primary_0);
		background-size: 100% 0.1em, 0 0.1em;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
		transition: background-size 400ms;
		&:hover,
		&:focus {
			background-size: 0 0.1em, 100% 0.1em;
		}
	}

	img {
		margin: 2rem 0;
	}

	table {
		margin: 1rem 0 3rem 0;
	}

	th {
		padding: 1rem;
		border-bottom: 2px solid #ddd;
	}

	td {
		padding: 1rem;
		border-bottom: 1px solid #ddd;
	}

	center {
		margin-bottom: 1rem;
	}

	ul {
		list-style-type: disc;
	}

	.footnotes {
		font-size: .8rem;
	}

	iframe {
		margin: 2rem auto;
		max-width: 100%;
	}

	blockquote {
		border-left: 5px solid rgba(0, 0, 0, .15);
		padding: 10px 18px;
		font-style: italic;
		margin: 0 0 1.5em;

		p:last-child {
			margin-bottom: 0;
		}
	}

	.gallery {
		display: flex;
		justify-content: space-around;

		img {
			min-width: 1px;
			padding: .3rem;
		}
	}
}
</style>
	
<style lang="scss" scoped>
@import "../../styles/_variables";
@import "../../styles/_mixins";
.c-header {
	display: flex;
	justify-content: center;

	h1 {
		text-transform: uppercase;
		font-size: 1.125rem;
		font-weight: bold;
		padding-top: 2rem;
		padding-bottom: 2rem;

		@include desktop {
			padding-top: 6rem;
		}
	}
}

section {
	@include until($desktop) {
		padding: 0 1rem;
	}
}

.c-info {
	color: #939393;
}

.l-1-2 {
	min-height: 32rem;

	@include until($tablet) {
		display: flex;
		flex-direction: column-reverse;
		margin-top: 2rem;
	}
}

.blog-wrapper {
	max-width: 45rem;
  margin: 0 auto;
}

.c-article-image {
		background-color: #D0DEEA;
		border-radius: .5rem;
		width: 100%;
		aspect-ratio: 2 / 1;
		object-fit: cover;
	}

.c-blog-title {
	margin: 1rem 0 1rem 0;
}

.c-blog-title {
	font-weight: 600;

	@include phone {
		line-height: 1.4;
	}
}

.c-info {
	font-weight: .5rem;
	margin: 1rem 0 3rem 0;

	time::before {
		content: ' • ';
	}
}

.c-article {
	border-bottom: 1px solid #D0DEEA;
	margin-bottom: 5rem;

	p {
		margin-bottom: 1.5rem;
	}

	img {
		margin: 2rem auto;
	}

	h2 {
		font-size: 2rem;
		font-weight: 600;
	}
}

.c-article-link {
	display: flex;
	align-items: flex-start;

	strong {
		color: #0AA5DE;
		size: $size_4;
	}

	img {
		width: 16rem;
		height: auto;
		max-width: 100%;
		margin-right: 2rem;
		object-fit: cover;
	}

	.c-blog-title {
		max-width: 21rem;
		margin-top: .2rem;
		margin-bottom: -.5rem;
	}

	@include phone {
		flex-direction: column;

		img {
			width: 100%;
			margin-right: 0;
			margin-bottom: 2rem;
		}
	}
}

.pagination {
	display: flex;
	gap: .5rem;

	a {
		width: 2rem;
		text-align: center;

		&.active {
			color: $primary_0;
		}

		&.inactive {
			opacity: .3;
			cursor: default;
		}

		i {
			font-size: .7rem;
		}
	}
}
</style>