@use "./variables" as *;

.l-1-2 {
  display: grid;
  grid-gap: 1rem;
  max-width: 70rem;
  margin: 0 auto;
  align-items: center;
  grid-template-columns: 1fr 1fr;

  @include tablet {
    grid-template-columns: 1.5fr 2fr;
  }
}

.l-1 {
  max-width: 45.625rem;
  margin: 0 auto;
}

.l-1-1-1 {
  display: grid;
  grid-gap: 1rem 2rem;
  max-width: 70rem;
  margin: 0 auto;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.l-job {
  p {
    margin-bottom: 0.3rem;
  }
  ul, ol {
    margin-left: 1rem;
    margin-bottom: 1rem;

    li {
      margin-bottom: 0.3rem;

      ul, ol {
        margin-top: 0.3rem;
      }
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: devanagari;
  }

  h3 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1rem;
    margin-top: 2rem;

    &::before {
      display: block;
      content: "";
      margin: 3rem 0;
      border-bottom: 1px solid #D0DEEA;
    }
  }

  h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
}

.l-modal {
  position: fixed;
  display: flex;
  z-index: $zindex-modal;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  overflow: hidden;
}
