/*
This file is for adjusting the styles for different locales.
eg. spacing in navigation menu breaks when viewed in French. 
*/

@use "./variables" as *;

@include is-locale-multiple(("fr", "ja", "de")) {
  .c-navbar-main {
    @include desktop {
      width: 51.75rem;
    }
  }
}

@include is-locale("es") {
  .c-navbar-main {
    @include desktop {
      width: 57rem;
    }
  }
}

@include is-locale-multiple(("de", "fr", "es", "ru")) {
  @include desktop {
    .c-footer .c-links-group.contribute-section a {
      display: inline-block;
      max-width: 9.75rem;
      word-break: break-word;
    }
  }
}
