/*
This file is for adjusting the styles for different locales.
eg. spacing in navigation menu breaks when viewed in French. 
*/

@use "./variables" as *;

@include is-locale("fr") {
  .c-navbar-main {
    @include desktop {
      width: 51.75rem;
    }
  }

  .c-footer .c-links-group a {
    display: inline-block;
    max-width: 9.75rem;
    word-break: break-word;
  }
}
