:root {
  --primary_0: #0288d1;
  --primary_0_1: #02679e;
  --primary_1: #b3dbf2;
  --primary_2: #e5f3fA;
  --success_0: #40854f;
  --success_0_1: #2f633b;
  --success_1: #bfd4c3;
  --success_2: #e4f1e7;
  --warning_0: #ff6f00;
  --warning_0_1: #cc5900;
  --warning_0_text: #73492a;
  --warning_0_2: ;
  --warning_1: #ffcea8;
  --warning_2: #ffeee0;
  --danger_0: #c62828;
  --danger_0_1: #9c1f1f;
  --danger_1: #ebb3b3;
  --danger_2: #faebeb;
  --text_0: #363636;
  --text_1: #707070;
  --text_2: #939393;
  --general_0: #dbdbdb;
  --general_1: #ededed;
  --general_1_opacity_6: rgba(237,237,237,0.6);
  --general_2: #f5f5f5;
  --background_0: #ffffff;
  --background_0_opacity_0: rgba(255,255,255,0);
  --text-size: 16px;
  --orange: #F89202;
  --blue: #5DC9F1;
  --green: #A1D10E;
}

/*
NOTE: if the app supports 'dark-theme' in the future, we can do stuff like,

:root[data-theme="dark"] {
  --primary_0: ...;
  --primary_0_1: ...;
}
*/
