.is-unstyled {
  background: none;
  border: none;
  border-radius: 0;
  font-size: inherit;
  min-height: auto;
  color: inherit;
  text-align: inherit;
  padding: 0;

  &:focus,
  &:hover {
    outline: none;
    border: none;
    color: inherit;
    background: none;
    box-shadow: none;
  }
}

.is-hidden {
  display: none !important;
}

.is-display-block {
  display: block;
}

// Screen reader only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Global Classes for SVG fills
$fills: (
  primary: $primary_0,
  blank: $background,
  success: $success_0,
  warning: $warning_0,
);

@each $class, $color in $fills {
  .u-has-fill-#{$class} {
    fill: $color;
  }
}

.hide-desktop {
  @include desktop {
    display: none !important;
  }
}

.hide-touch {
  @include touch {
    display: none !important;
  }
}

.hide-phone {
  @include phone {
    display: none !important;
  }
}

.hide-tablet {
  @include tablet {
    display: none;
  }
}

.indented-list {
  margin: 1rem 0 1.5rem 0;

  li {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    margin-left: 1.5rem;

    @include phone {
      margin-left: 1rem;
    }
  }

  &.less-item-gap {
    li {
      margin-bottom: 0.25rem;
    }
  }
}

ul.indented-list {
  list-style-type: disc;
}
