// z-index constants
// Why: https://css-tricks.com/handling-z-index/
$zindex-header: 10;
$zindex-banner: 20;
$zindex-modal: 30;

$radius: 3px;
$radius-large: 5px;

$headerHeightMobile: 4rem;
$headerHeightTablet: 5rem;
$headerHeight: 6.25rem;
// $headerHeightMobile: 10.375rem;
// $headerHeightTablet: 10.875rem;
// $headerHeight: 12.125rem;

// IMPORTANT!
// This file, and any files included below, cannot contain any CSS
// classes, because these files are often included in the <style>
// tag of .vue components, and so those classes would end up being
// duplicated across all the injected component CSS

@forward "_font_variables";
@forward "_colors";
@forward "_mixins";
