---
import Layout from '@/layouts/DefaultLayout.astro'
import BlogPostEntry from '@/components/BlogPostEntry.vue'
import { resolvePath, uniq } from '@/utils/helpers.js'
import { sortedPosts } from '@/utils/sort'

export async function getStaticPaths () {
  const allPosts = sortedPosts(await Astro.glob('../../posts/*.{md,mdx}'))
  const uniqueTags = uniq(
    allPosts.map((post: any) => post.frontmatter?.tags || []).flat()
  )
  console.log('!@# uniqueTags: ', uniqueTags)

  return uniqueTags.map((tag: string) => {
    const filteredPosts = allPosts.filter(
      (post: any) => Array.isArray(post.frontmatter.tags) && post.frontmatter.tags.includes(tag)
    )

    return {
      params: { tag },
      props: { posts: filteredPosts }
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<Layout>
<div class="c-wrapper">
  <header class="c-header">
    <h1 class="is-title-3 page-title">Posts Tagged: <span class="c-tag-name">'{tag}'</span></h1>
  </header>
  
  <div class="c-post-list">
    {
      Boolean(posts.length) &&
      posts.map((post: any) => <BlogPostEntry client:only="vue" postFrontmatter={post.frontmatter} />)
    }
  </div>
</div>
</Layout>

<style lang="scss" scoped>
@import "../../styles/_variables";

.c-wrapper {
  @include page-wrapper-common;
}

.c-header {
  display: flex;
  width: 100%;
  margin-bottom: 4rem;

  @include tablet {
    justify-content: center;
    margin-bottom: 6rem;
  }
}

.page-title {
  font-weight: 600;
}

.c-post-list {
  position: relative;
  max-width: 45rem;
  margin: 0 auto;
}

.c-tag-name {
  display: inline-block;
  margin-left: 0.5rem;
}
</style>
