---
import Layout from '../layouts/DefaultLayout.astro';
import FAQ from '../components/FAQ.vue'
---

<Layout>
  <div class="c-wrapper">
    <section class="container c-main-container">
      <div class="c-main-wrapper" id="header1">
        <div class="is-posttitle">LEARN</div>
        <h1 class="is-title-1 c-main-title">Frequently Asked Questions.</h1>
      </div>
    </section>
    <div class="grey-container">
      <FAQ client:load/>
    </div>
    <section class="container">
      <h2 class="is-title-2 c-container-title">Group Income Shorts</h2>
      <ul class="c-video-link">
        <li><a href="https://www.youtube.com/watch?v=WpvyLEZmEAM&amp;list=PLRcgABNc9s2R3gSfRG7jHzb4giQdxaDB7&amp;index=1" target="_blank"><img src="/images/shorts/what-is-groupincome.jpeg" alt="What is Group Income? (Overview)"/></a></li>
        <li><a href="https://www.youtube.com/watch?v=i3LtljP9WsA&amp;list=PLRcgABNc9s2R3gSfRG7jHzb4giQdxaDB7&amp;index=2" target="_blank"><img src="/images/shorts/what-is-value.jpeg" alt="What is Value?"/></a></li>
        <li><a href="https://www.youtube.com/watch?v=I381R5_joLE&amp;list=PLRcgABNc9s2R3gSfRG7jHzb4giQdxaDB7&amp;index=3" target="_blank"><img src="/images/shorts/software-architecture.jpeg" alt="A New Kind Of Software Architecture"/></a></li>
        <li><a href="https://www.youtube.com/watch?v=KU9NGcrjXlo&amp;list=PLRcgABNc9s2R3gSfRG7jHzb4giQdxaDB7&amp;index=4" target="_blank"><img src="/images/shorts/gi-demo.jpeg" alt="Group Income UI Demo"/></a></li>
      </ul>
    </section>
  </div>

</Layout>

<style lang="scss" scoped>
@import "../styles/_variables";
@import "../styles/_mixins";

.c-wrapper {
  padding-bottom: 2rem;
  padding-top: 6rem;
}

.container {
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 4rem 1rem;
  }

  @include desktop {
    padding: 6rem 1rem;
  }
}

.sections-container {
  position: relative;
  height: 80vh;

  section {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.c-container {
  max-width: 45.625rem;

  &-title {
    margin: 1rem auto;
    max-width: 34rem;
  }

  &-posttitle {
    color: $text_0;
  }

  &-para {
    line-height: 1.5rem;
    max-width: 40rem;
    margin: 0 auto;
  }

  &-link {
    display: block;
    margin-top: 1.6rem;
    color: #0AA5DE;
    font-weight: bold;
  }
}

.c-main-container {
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: calc(100vw - 2rem);
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  pointer-events: none;

  @include phone {
    max-width: 100%;
  }
}

.c-main-wrapper {
  margin-top: -1.6rem;
}

.c-main-title {
  max-width: 47rem;
  margin: 1.5rem auto;

  @include phone {
    max-width: 30rem;
  }
}

.c-main-para {
  max-width: 34rem;
  margin: 0 auto 1rem auto;
}

.grey-container {
  background: url('/images/about/grey-background.svg') no-repeat center bottom #fff;
  background-size: 100%;
}

.c-video-link {
  display: flex;
  padding: 5rem 1rem 0 1rem;
  justify-content: space-around;
  flex-wrap: wrap;

  img {
    transition: all ease-out .125s;

    &:hover {
      transition: all ease-in .124s;
      transform: scale(1.1);
    }
  }

  img {
    max-width: 16rem;
    margin-bottom: 2rem;

    @include desktop {
      margin-bottom: 0;
    }
  }
}

</style>
