---
import Layout from '../layouts/DefaultLayout.astro';
import GetStarted from '../components/GetStarted.vue';
import Servers from '../components/Servers.astro';
---

<Layout>
  <div class="c-wrapper">
    <section class="container grey-container">
      <div class="c-main-wrapper">
        <div class="is-posttitle">GET STARTED</div>
        <h1 class="is-title-1 c-main-title">Join a Group Income server</h1>
        <p class="is-subtitle c-main-para">Group Income is not a single website, it's more like email, anyone can run it on their own. Join our official server or join someone else's.</p>
      </div>
    </section>
    <section class="container span-container">
      <GetStarted client:load />
    </section>
    <section class="container dark-container">
      <!-- <p class="c-container-para">All servers listed have a commitment to GroupIncome server agreement.</p> -->
      <Servers />
      <p class="c-container-para">
        Don’t see a server you like?
        <a href="https://github.com/okTurtles/group-income" class="link server-link" target="_blank">
          Run your own server
        </a>
      </p>
    </section>
  </div>
</Layout>

<style lang="scss">
@import "../styles/_variables";
@import "../styles/_mixins";

.container {
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 4rem 1rem;
  }
}

.span-container {
  flex-direction: column;
  text-align: center;

  @include phone {
    padding: 4rem 1rem;
  }

  .is-title-2 {
    margin-bottom: 1rem;

    @include desktop {
      max-width: 31rem;
    }
  }

  @include desktop {
    p {
      max-width: 27rem;
      margin-left: 0;
    }
  }
}

.c-main-title {
  max-width: 47rem;
  margin: 1.5rem auto;

  @include phone {
    max-width: 30rem;
  }
}

.c-main-para {
  max-width: 34rem;
  margin: 0 auto 1rem auto;
}

.dark-container {
  background-image: linear-gradient(180deg, #3E4462 0%, #3E4462 0.0001%, #2B3044 100%);
  color: #fff;
  padding-top: 10rem;
  position: relative;

  // &::after,
  &:before {
    position: absolute;
    content: '';
    height: 6rem;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    clip-path: circle(300vw at 50% -295vw);
  }

  &:after {
    content: '';
    background: url(/svgs/bottom-curve-white.svg) no-repeat center bottom;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5vw;
  }
  .c-container-para {
    text-align: center;
  }
}

.grey-container {
  background: url(/images/about/grey-background.svg) no-repeat center bottom #fff;
  background-size: 100%;
  text-align: center;
  padding: 4rem 1rem;
}

.server-link {
  display: block;
  margin: 0.5rem auto 6rem auto;
  width: max-content;
  font-size: 1.125rem;
}
</style>
