---
import Layout from '../layouts/DefaultLayout.astro';
import Accordion from '../components/Accordion.vue'
import { resolvePath } from '@/utils/helpers.js'
---

<Layout>
  <section class="container c-main-container">
    <div class="is-posttitle">Donate</div>
    <h1 class="is-title-1 c-main-title">Other Ways Support</h1>
  </section>
  <div class="c-container-middle">
    <Accordion client:load/>
  </div>
  <div class="c-container-center c-container-middle">
    <h3 class="is-title-2">Questions?</h3>
    <p>
      Please email <a class='is-link' href="mailto:hi@okturtles.org" target="_blank">hi@okturtles.org</a>
    </p>
  </div>
</Layout>

<style lang="scss">
@use "../styles/variables" as *;

.c-main-container {
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: calc(100vw - 2rem);
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  pointer-events: none;

  @include phone {
    max-width: 100%;
  }
}

.c-wrapper {
  padding-bottom: 2rem;
}

.container {
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 4rem 1rem;
  }

  @include desktop {
    padding: 6rem 1rem;
  }
}

.c-container-middle {
  width: 70rem;
  max-width: 100%;
  margin: -2rem auto 0 auto;
}

.c-container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.6rem;
  margin-top: 8rem;

  p {
    color: $text_1;
  }
}

.c-main-title {
  max-width: 47rem;
  margin: 1.5rem auto;

  @include phone {
    max-width: 30rem;
  }
}
</style>
