---
import Layout from '../layouts/DefaultLayout.astro';
import Donate from '../components/Donate.vue'
---

<Layout>
  <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
  <div class="c-wrapper">
    <section class="container grey-container">
      <div class="is-posttitle">SUPPORT OUR DEVELOPMENT</div>
      <h1 class="is-title-1 c-main-title">Sponsor Group Income.</h1>
      <p class="is-subtitle c-main-para">
        Group Income is a project developed by the okTurtles Foundation,
        a non-profit organization that supports beneficial decentralization technologies.
        If you want to help us succeed, consider becoming a sponsor.
      </p>
    </section>
    <div class="c-container-middle">
      <div class="c-container-center">
        <h2 class="is-title-2 c-main-title">
          Become a Sponsor
        </h2>
        <p class="c-main-para">If you want to support our project and get rewards like early access to our development or your name listed on this page, you can back us! Here’s how:</p>
      </div>
      <section class="container c-grid">
        <div class="c-direct">
          <h2 class="c-sub-title">Direct Cryptocurrency Donation</h2>
          <Donate client:load/>
          <div class="c-or">or</div>
        </div>
        <div class="c-credit">
          <h2 class="c-sub-title">Credit/Debit Card Donation</h2>
          <iframe class="c-donation-box" src="https://donorbox.org/embed/group-income" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="550px" width="100%" style="min-width: 250px; max-height:none!important;"></iframe>
        </div>
      </section>
      <div class="c-container-center">
        <a class="button is-primary" href="/groupincome.org/other-ways-to-support">Other ways to Donate</a>
      </div>
      <section class="container c-grid">
        <div><b>Crypto Donation Receipt</b>
          <div class="c-main-para">After you make a crypto donation, contact us so we can thank you and send you a receipt for your records and tax purposes — and let us know us know if you'd like us to publicly thank you for your donation!</div>
        </div>
        <div><b>okTurtles Foundation</b>
          <div class="c-main-para">The okTurtles Foundation is a 501(c)(3) non-profit corporation, and our U.S. federal tax ID number is 47-1188610.</div>
        </div>
      </section>
    </div>
    <section class="container dark-container">
      <h2 class="is-title-2 c-container-title">Silver Sponsors</h2>
      <p class="c-container-para">Thank you to the following individuals and organizations</p>
      <div class="c-silver-sponsor-container">
        <ul>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="" class="c-silver-sponsor">
              <img src="/groupincome.org/images/temp/user-avatar-temp.jpg" alt="Cody Fisher">
              Cody Fisher
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="container c-second-container">
      <h2 class="is-title-2 c-container-title">Individual Sponsors</h2>
      <p class="c-container-para">Thank you to the following individuals and organizations, who have pledged up to $x/month</p>
      <div class="c-individual-sponsor-container">
        <ul>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
          <li>
            <a href="">
              Cody Fisher
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</Layout>

<style lang="scss">
@import "../styles/_variables";
@import "../styles/_mixins";

.c-wrapper {
  padding-bottom: 2rem;
}

.container {
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 4rem 1rem;
  }

  @include desktop {
    padding: 6rem 1rem;
  }
}

.c-container-middle {
  width: 70rem;
  max-width: 100%;
  margin: 0 auto;
}

.c-container-center {
  text-align: center;
  margin: 6rem auto 0 auto;
}

.c-main-title {
  max-width: 47rem;
  margin: 1.5rem auto;

  @include phone {
    max-width: 30rem;
  }
}

.c-main-para {
  max-width: 46rem;
  margin-bottom: 1rem;

  @include desktop {
    margin: 0 auto 1rem auto;
  }
}

.grey-container {
  text-align: center;
}

.c-sub-title {
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.c-grid {
  display: grid;
  padding-bottom: 0;
  grid-template-rows: 1fr;

  @include desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0 7.5rem;
  }
}

.c-direct {
  position: relative;
  // overflow: hidden;
  margin-bottom: 6rem;

  @include desktop {
    margin-bottom: 0;
  }
}

.c-or {
  position: absolute;
  display: flex;
  height: 24px;
  width: 100%;
  max-height: 435px;
  align-items: center;
  flex-direction: column;
  top: calc(100% + 2rem);
  color: rgba(#3E4462, .5);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;

  @include desktop {
    flex-direction: row;
    right: -4rem;
    top: 0;
    height: 100%;
    width: auto;
  }

  &::after,
  &::before {
    position: absolute;
    content: '';
    z-index: -1;
  }

  &::before {
    z-index: -2;
    background: linear-gradient(90deg, #FFFFFF 0%, #D0DEEA 51.56%, #FFFFFF 100%);
    height: 1px;
    width: 100%;
    top: .6rem;
    left: 0;

    @include desktop {
      background: linear-gradient(180deg, #FFFFFF 0%, #D0DEEA 51.56%, #FFFFFF 100%);
      height: 100%;
      width: 1px;
      top: 0;
      left: calc(50% - .5px);
    }
  }

  &::after {
    background: #F6F8FB;
    border-radius: 50%;
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
  }
}

.c-donation-box {
  filter: drop-shadow(0px 2px 6px rgba(0,0,0,.2));
}

.dark-container {
  background: url('/images/about/blue-background.svg') no-repeat center #fff;
  background-size: 100%;
  color: #fff;
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include phone {
    background-size: 200% 100%;
    padding-top: 8rem;
    padding-bottom: 4rem;
    margin-top: -4rem;
  }
}

.c-container-title {
  text-align: center;
  max-width: 45.5rem;
  margin-bottom: 1rem;
}

.c-silver-sponsor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 70rem;
    justify-content: center;
  }
}

.c-silver-sponsor {
  width: 22rem;
  display: flex;
  background-color: #C0C5DA;
  border-radius: .5rem;
  padding: .5rem;
  font-size: 1rem;
  color: #000;

  &:hover {
    background-color: #fff;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.c-second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('/images/temp/group-sponsor.jpg') no-repeat;
  background-size: contain;
  background-position: center 54px;
}

.c-individual-sponsor-container {
  background-color: #FBFCFD;
  color: #000000;
  margin: 4rem auto 0 auto;
  border-radius: .5rem;
  padding: .3rem 1.5rem 0 1.5rem;
  border: 1px solid #9DB5CA;

  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 70rem;
  }

  li {
    display: block;
    border-bottom: 1px solid #E8F0F6;
    min-width: 15.5rem;
    padding: 1rem 0;
    flex-grow: 1;
  }
}
</style>
