---
import { resolvePath, imgPathToSrcSet } from '@/utils/helpers.js'
import I18n from '@/i18n/i18n.astro';
import { useTranslation, LTags } from '@/i18n/utils'

const { locale } = Astro.locals
const L = useTranslation(locale)

const servers = [{
  name: "Group Income",
  img: '/images/servers/group-income.webp',
  imgSrc: '/images/servers/group-income.png',
  url: 'https://groupincome.app',
  category: 'tech',
  description: L("The official Group Income Server."),
  admin: 'okTurtles Foundation Inc.',
  adminContact: 'https://okturtles.org'
}]

const yourServer = L('<Your Server>')
---

<div id="servers" class="grid has-scroll-margin-top c-server-grid-container">
  {
    servers.map(server => {
      return (
        <div class="grid-item">
          <div class="card">
            <div class="card-body l-server">
              <img class="card-img-top"
                src={resolvePath(server.img)}
                srcset={imgPathToSrcSet(server.imgSrc, 2)}
                alt={server.name} />
              <h4 class="card-category"></h4>
              <h3 class="card-title">{ server.name }</h3>
              <p class="card-text">{ server.description }</p>
              <p class="card-text"><b>Admin:</b> <a class="" href={server.adminContact}>{ server.admin }</a></p>
            </div>
            <a class="button is-primary" href={server.url}><I18n>Get started</I18n></a>
          </div>
        </div>
      )
    })
  }

  <div class="grid-item">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top"
          src={resolvePath('/images/servers/defon-social.webp')}
          srcset={resolvePath('/images/servers/defon-social.png')} />
        <h4 class="card-category"></h4>
        <h3 class="card-title">{ yourServer }</h3>
        <I18n tag="p" class="card-text"
          args={{ ...LTags('a'), 'a_': '<a class="is-link" href="https://github.com/okTurtles/groupincome.org/edit/master/src/components/Servers.vue">' }}>
          Edit the |a_|this page on Github|_a| to add your server here.
        </i18n>
      </div>
      <a class="button is-primary" href="https://github.com/okTurtles/groupincome.org/edit/master/src/components/Servers.vue"><I18n>Get started</I18n></a>
    </div>
  </div>
</div>

<style lang="scss" is:global>
// slot content cannot be styled by <style scoped />: https://github.com/withastro/astro/issues/3045
@use "../styles/mixins" as *;

.l-server {
  a {
    @extend %link-style;
  }
}

.c-server-grid-container {
  width: 70rem;
  max-width: calc(100vw - 2rem);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(16.6rem, 1fr));
  margin: 4rem auto 6rem auto;
  justify-content: center;

  .grid-item {
    display: flex;
    justify-content: center;
  }

  .card {
    padding: 1rem;
    border: 1px solid #D0DEEA;
    background: #F6F8FB;
    border-radius: 8px;
    box-shadow: none;
    color: #000;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;

    .button {
      align-self: flex-start;
    }
  }

  .card-body {
    margin-bottom: 1.5rem;
  }

  .card-img-top {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    max-height: 12.5rem;
  }

  .card-category {
    font-weight: 600;
    font-size: 0.75rem;
    color: #939393;
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .card-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3rem;
  }
}
</style>
