---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.vue';
import AppStyles from '../components/AppStyles.vue';
import Footer from '../components/Footer.vue';
import PageWrapper from '../components/pageWrapper.vue';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { isNavigationOpen } from '../store';
import { useStore } from '@nanostores/vue';

const $isNavigationOpen = useStore(isNavigationOpen);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<PageWrapper>
			<AppStyles/>
			<Header/>
			<main>
				<slot />
			</main>
			<Footer />
		</PageWrapper>
	</body>
</html>
