---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
import PageWrapper from '../components/pageWrapper.vue';
import { defaultLanguage, useTranslation } from '@/i18n/utils';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const { lang } = Astro.props
const t = useTranslation(lang)

const siteTitle = t('siteTitle') || SITE_TITLE
const siteDescription = t('siteDescription') || SITE_DESCRIPTION
---

<!DOCTYPE html>
<html lang={lang || defaultLanguage}>
	<head>
		<BaseHead title={siteTitle} description={siteDescription} />
	</head>
	<body>
		<PageWrapper client:only="vue">
			<Header client:only="vue" lang={lang || defaultLanguage}  />
			<main>
				<slot />
			</main>
			<Footer client:only="vue" lang={lang || defaultLanguage} />
		</PageWrapper>
	</body>
</html>
