---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.vue';
import AppStyles from '../components/AppStyles.vue';
import Footer from '../components/Footer.vue';
import PageWrapper from '../components/pageWrapper.vue';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { isNavigationOpen } from '../store';
import { useStore } from '@nanostores/vue';

const $isNavigationOpen = useStore(isNavigationOpen);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<PageWrapper>
			<AppStyles/>
			<Header/>
			<main id="swup">
				<slot />
			</main>
			<Footer />
		</PageWrapper>
		<script>
			import Swup from 'swup'
			import SwupA11yPlugin from '@swup/a11y-plugin'
			import SwupHeadPlugin from '@swup/head-plugin'
			import SwupFadeTheme from '@swup/fade-theme'
			import SwupScript from '@swup/scripts-plugin'

			const swup = new Swup({
				plugins: [new SwupA11yPlugin(), new SwupHeadPlugin(), new SwupFadeTheme(), new SwupScript()],
			})
			swup.on('willReplaceContent', () => {
				window.scrollTo(0, 0)
			})
		</script>
	</body>
</html>
