---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.vue';
import AppStyles from '../components/AppStyles.vue';
import Footer from '../components/Footer.vue';
import PageWrapper from '../components/pageWrapper.vue';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<PageWrapper client:only="vue">
			<AppStyles/>
			<Header client:only="vue"  />
			<main>
				<slot />
			</main>
			<Footer client:only="vue" />
		</PageWrapper>
	</body>
</html>
